/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

 .container {
  margin-top: 50px;
  width: 40vw;
   justify-content: center ;
    h1 {
      color: rgb(154, 56, 56);
      font-size: 30px;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: rgb(198, 95, 57);
    }
    li:hover {
      background-color: rgb(75, 75, 221);
    }
    p {
      text-align: center;
    }
  }
 #link {
  color: rgb(163, 163, 22);
 }
 #link:hover {
  font-size: 25px;
 }

ul {
  list-style-type: none;
}

li {
  border: 3px dotted violet;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
}
